@media screen and (max-width: 1024px){
   .main-screen__cards-card {
       font-size: 12px;
       .text{
           font-size: 12px !important;
       }
   }
   .main-screen__cards{
       width: 100% !important;
   }

   .main-screen__rates-table{
       
       overflow-x: scroll;
       min-width: 1020px;
       
   }




//  TARIFFS

   h2{
       font-size: 32px;
   }
   .tariffs{
       &::before{
           display: none;
       }
       &__title{
           max-width: 425px !important;
           line-height: 40px;
       }
       &__item{
        padding: 25px !important;
        &-title{
            font-size: 20px !important;
        }
        &-price{
            font-size: 18px !important;
        }
        &-about{
            font-size: 8px !important;
        }
        &-list{
            font-size: 14px ; 
            li{
                margin-left: 40px !important;
            }
        }
        form{
            input[type="submit"]{
                font-size: 13px;
            }
        }
       }
   }

   
}
@media screen and (max-width: 900px){
    
}

@media screen and (max-width: 850px){
    .main-screen__cards-card .text{
        font-size: 10px !important;
    }
}





@media screen and (max-width: 740px){
    .main-screen__cards-card .text{
        font-size: 8px !important;
    }

    .header{
        &__contact{
            display: none; 
        }
        a.button{
            display: none;
        }
        &__logo{
            width: 83px;
            height: 40px;
        }
        
    }

    .main{
        &-screen{
            &__top{
                padding-top: 60px !important;
            }
            &__title{
                font-size: 24px;
                .highlight{
                    font-size: 24px !important;
                }
            }
            &__overtitle{
                display: none;
            }
            ul.main-screen__list{
                font-size: 14px;
            }
            .income-wrapper{
                .expected-income{
                    font-size: 13px;
                }
                .income{
                    font-size: 16px !important;
                }
                
            }
            .main-button{
                margin-right: 50px !important;
            }
           
        }
    }

    .main-screen__cards{
        width: 180px !important;
        margin: 0 auto;
        overflow: visible !important;
        .text{
            font-size: 10px !important;
        }
    }
  
   

}
