@media screen and (max-width: 1024px){
   .main-screen__cards-card {
       font-size: 12px;
       .text{
           font-size: 12px !important;
       }
   }
   .main-screen__cards{
       width: 100% !important;
   }

   .videos::after{
       width: 150px !important;
       height: 124% !important;
       top: -62px !important; 
   }
   .news{
       &::after{
          display: none;
       }
       &__col{
            &:first-child{
                flex: 2 !important;
            }
            &:last-child{
               .button{
                margin-left: 0px !important;
               } 
            }
       }
   }
  
//  TARIFFS

   h2{
       font-size: 29px;
       line-height: 35px;
   }
   .tariffs{
       &::before{
           display: none;
       }
       &__title{
           max-width: 425px !important;
           line-height: 40px;
       }
       &__subtitle{
           font-size: 18px !important;
       }
       &__items{
           justify-content: start !important;
       }
       &__item{
        padding: 20px 22px !important;
        &:first-child{
            margin-right: 35px;
        }
        &-info{
            padding-bottom: 18px !important;
        }
        &-title{
            font-size: 23px !important;
        }
        &-price{
            font-size: 21px !important;
        }
        &-percent{
            font-size: 9px !important;
        }
        &-about{
            font-size: 10px !important;
        }
        &-list{
            font-size: 10px ; 
            li{
                margin-left: 40px !important;
            }
        }
        form{
            p{
                font-size: 9px !important;
                line-height: 13px !important;
            }
            input[type="submit"]{
                min-width: 160px;
            }
            select{
                font-size: 10px !important;
                width: 150px !important;
                background-position: 130px !important;
            }
        }
       }
   }

  .main-screen__rates-table--mobile{
      display: block !important;
      
  }
  .main-screen__rates-table--desktop{
      display: none;
  }
 
}


@media screen and (max-width: 850px){
    .main-screen__cards-card .text{
        font-size: 10px !important;
    }
    .about{
        &__text{
            width: 100% !important;
        }
        &__inner{
            flex-direction: column;
            &-col{
                &:first-child{
                    width: 100% !important;
                }
                &:last-child{
                    margin-left: 0px !important;
                }
            }
        }
        &__title{
            max-width: 100% !important;
        }
        .button{
            margin-top: 30px !important;
        }
    }
    
    .footer__top{
        flex-direction: column;
        align-items: center;
        .footer__logo{
            display: none;
        }
        .footer__menu{
            flex-direction: column;
            align-items: center;
            margin-bottom: 0px !important;
            li{
                padding: 10px 0px !important;
                a{
                    font-size: 14px;
                }
            }
            &-wrapper{
                padding-left: 0px !important;
            }
        }
        .footer__contact{
            text-align: center;
            margin-top: 50px;
           
        }
    }

    .footer__bottom{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 40px !important;
        .icons{
            justify-content: center;
            a{
                margin-right: 20px !important;
                &:last-child{
                    margin-right: 0px !important;
                }
            }
        }
        .policy{
            margin-top: 50px;
            order: 4;
            ul{
                text-align: center;
                padding-left: 0px !important;
            }
           
        }
        .social, .copyright{
            margin-right: 0 !important;

        }
        .copyright{
            order: 6;
        }
        &-logo{
            display: block !important;
            margin: 0 auto;
            order: 5;
            margin: 40px 0px;
        }
    }

    .separator{
        display: none;
    }
    
}





@media screen and (max-width: 780px){
    .btn-primary{
        font-size: 12px;
    }
    .main-screen__cards-card .text{
        font-size: 8px !important;
    }
    .main-screen__rates-table--mobile{
        font-size: 12px !important;
    }
    .header{
        &__contact{
            display: none; 
        }
        a.button{
            display: none;
        }
        &__logo{
            width: 83px;
            height: 40px;
        }
        
    }

    .main{
        &-screen{
            &__top{
                padding-top: 60px !important;
            }
            &__title{
                font-size: 24px;
                .highlight{
                    font-size: 24px !important;
                }
            }
            &__overtitle{
                display: none;
            }
            ul.main-screen__list{
                font-size: 14px;
            }
            .income-wrapper{
                .expected-income{
                    font-size: 13px;
                }
                .income{
                    font-size: 16px !important;
                }
                
            }
            .main-button{
                margin-right: 50px !important;
            }
           
        }
    }

    .main-screen__cards{
        width: 180px !important;
        margin: 0 auto;
        overflow: visible !important;
        .text{
            font-size: 10px !important;
        }
    }
  
    .tariffs{
        &__subtitle{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 84px;
                height: 84px;
                background-image: url('../images/figure2.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                top: -53px;
                right: 14px;
            }
        }
        padding: 75px 0 !important;
        &::after{
            width: 83px !important;
            height: 47px !important;
            top: -25px !important;
            right: 299px !important;
        }
       &__item{
           &:first-child{
               margin-right: 0px !important;
               margin-bottom: 30px;
           }
           width: 374px;
       }
        &__items{
            flex-direction: column;
        }
       
    }

    .reviews__slider{
        width: 214px !important;
        margin: 0 auto;
        overflow: visible !important;
    }

    .videos__slider{
        display: block !important;
    }
    .videos__wrapper{
        display: none !important;
    }


    .text-reviews__inner{
        flex-direction: column-reverse;
        position: relative;
        padding-bottom: 60px;
        .comments{
            margin-top: 50px;
            margin-right: 0px !important;
        }

        .button{
            position: absolute;
            bottom: -10px; 
            z-index: 6;
        }
    }
    .packages{
        padding: 60px 0px !important;
       
        padding-bottom: 180px !important;
        &__inner{
            flex-direction: column;
            position: relative;
        }
        
        &__calc{
            position: absolute;
            bottom: -140px;
            flex-direction: row-reverse !important;
            justify-content: space-between;
            width: 100%;
            
        }
    }

    .news{
        &__col:last-child{
            .button{
                margin-bottom: 0px !important;
            }
        }
        padding: 50px 0px !important;
        &::after{
            display: block !important;
            background-image: url('../images/figure.svg') !important;
            width: 120px !important;
            height: 53px !important;
            background-size: cover;
            top: -28px !important;
            right: 36px !important;
        }
        &__wrapper{
            max-width: 600px;
        }
       &__inner{
           flex-direction: column;
       }
    }

    .partners{
        padding: 60px 0px 150px 0px !important;
        &__inner{
            flex-direction: column-reverse;
            position: relative;
            a.button{
                position: absolute;
                bottom: -90px;
            }
        }
        &__slider{
            width: 230px !important;
            margin: 0 auto !important;
            overflow: visible !important;
        }
    }

    .why__inner{
        flex-direction: column;
        padding: 60px 0px !important;
        .why__title, .why__text{
            max-width: 100%;
        }

        .why__items{
            margin-top: 50px;
            padding: 0px 10%;
        }
    }

    .contact{
        padding: 60px 0px !important; 
        &::before{
            width: 110px !important;
            height: 64px !important;
            right: 15px ;
            left: 315px !important;

        }
        &__inner{
            flex-direction: column;
        }
        &__title{
            max-width: 100% !important;
            margin-bottom: 15px !important;
        }
        &__phone, &__telegram{
            margin-top: 0px !important;
        }

        &__col:last-child{
            margin-top: 50px;
        }
    }
    
}



@media screen and (max-width: 500px){
    .news{
        &__wrapper{
            flex-direction: column;
        }
        &__item{
        padding: 15px;         
        background: #F3F3F3 !important;
        border-radius: 5px;
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 15px !important;
        }
       &__col:last-child{
           .button{
               margin-top: 50px;
           }
       }
    }

    .why__items{
        .why__item{
        margin-right: 40px;
        margin-bottom: 40px;
        }
        padding: 0 !important;
    }
    .contact{
        form{
            .fields-wrap{
                flex-direction: column;
                margin-top: 0px !important;
            }
            input{
                margin-right: 0px !important;
                margin-bottom: 10px;
            }
            input[type="submit"]{
                width: 100% !important;
            }
        }
    }
}