$background-color-1: #121212;
$background-color-2: #F3F3F3;
$background-color-3: #6F6F6F;
$button-bg: #2FC735;
$button-img: linear-gradient(91.98deg, #2AD031 0.9%, #00E10A 99.73%);
$font-first-color: #fff;
$font-second-color: #29CF30;
$font-third-color: #6F6F6F;


