@import 'libs/hamburgers.css';
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';


.main{
    overflow: hidden;
}

.header{
    background-color: $background-color-1;
    padding: 40px 15px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__nav-wrap{
        display: flex;
        align-items: center;
        .button{
            font-weight: 500;
            font-size: 14px;
            color: $font-first-color;
            margin: 0px 50px;
        }
        .hamburger{
            padding: 0px;
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
                width: 20px;
                height: 4px;
                background-color: #fff;
            }
            .hamburger-inner::after {
                bottom: -7px;
            }
            .hamburger-inner::before {
                top: -7px;
            }
            .hamburger-box {
                width: 20px;
                height: 10px;
            }
        }
    }
    &__contact{
        &-phone, &-telegram{
            font-size: 14px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                left: -23px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover{
                color: $font-second-color;
            }
        }
        &-phone{
            &::before{
                background-image: url('../images/phone.svg');
            }
            margin-right: 45px;
        }
        &-telegram{
            &::before{
                background-image: url('../images/telegram.svg');
            }
        }
        
    }
}


.main{
    &-screen{
       background-color: $background-color-1;
       background-image: url('../images/main-bg.svg'); 
       background-position: top;
       background-size: cover;
       background-repeat: no-repeat;
       &__top{
           padding-top: 140px;
           padding-bottom: 80px;
       }
       &__overtitle{
           text-transform: uppercase;
           font-size: 16px;
           color: $font-first-color;
           font-weight: 300;
           letter-spacing: 0.155em;
           margin-bottom: 30px;
       }
       &__title{
           max-width: 705px;
           margin-bottom: 25px;
           .highlight{
               font-size: 54px;
           }
       }
       ul{
        font-size: 16px;
       }
       &__list{
           color: $font-first-color;
           line-height: 140%;
           letter-spacing: 0.07em;
           font-weight: 300;
           max-width: 500px;
           list-style-type: none;
           margin-left: 12px;
           margin-bottom: 50px;
           &-item{
               position: relative;
               &::before{
                   content: "";
                   position: absolute;
                   width: 2px;
                   height: 3px;
                   background-color: #fff;
                   border-radius: 3px;
                   top: 50%;
                   transform: translateY(-50%);
                   left: -10px;  
               }             
           }
       }
       .d-flex{
           align-items: center;
       }
       .main-button{
           padding: 13px 35px;
           color: #fff;
           color: #FFFFFF;
           text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
           font-size: 14px;
           position: relative;
           max-height: 42px;
           &::after{
               content: 'Акция';
               position: absolute;
               padding: 5px 15px;
               text-align: center;
               background: #EFA854;
               border-radius: 2px;
               color: black;
               font-size: 12px;
               font-weight: 600;
               filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
               top: -9px;
               right: -39px;
           }
           margin-right: 80px;
       }
       .income-wrapper{
           display: flex;
           flex-direction: column;
           color: $font-second-color;
           font-weight: 300;
           span{
            &:nth-child(1){
                font-size: 16px;
            }
            &:nth-child(2){
                font-size: 24px;
                font-weight: bold;
                margin: 3px 0px;
            }
            &:nth-child(3){
                font-size: 14px;
                position: relative;
                color: $font-first-color;
                margin-left: 20px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-image: url('../images/clock.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
           }
       }


       &__cards{
           padding-bottom: 45px;
           overflow: hidden;
           width: 990px;
           &-wrapper{
            display: flex;
            width: 100%;
            height: 100%;
           }
           
           &-card{
               font-weight: 300;
               flex-shrink: 0;
               .d-flex{
                   justify-content: space-between;
               }
               
               .percent{
                    color: #EFA854;
               }

             

               span{
                   display: block;
               }
               padding: 13px;
               border: 1px solid #FFFFFF;
               border-radius: 2px;
               
               color: $font-first-color;
               &:last-child{
                   margin-right: 0px;
               }
               .price{
                   padding-top: 7px;
                   padding-bottom: 13px;
                   font-weight: 600;
               }

               .text{
                   font-size: 15px;
               }
           }
       }

       &__rates{
           padding-bottom: 100px;
           color: $font-first-color;
           h3{
               font-size: 24px;
               margin-bottom: 25px;
           }
          &-table{
              width: 100%;
           .row{
               display: flex;
               width: 100%;
               padding: 15px;
               justify-content: space-between;
               font-size: 14px;
               font-weight: 300;
               align-items: center;
               background-image: linear-gradient(270deg, rgba(35, 35, 35, 0.3) 0%, rgba(41, 207, 48, 0.3) 100%);
                border: 1px solid #FFFFFF;
                border-radius: 2px;
                margin-bottom: 10px;
                &:first-child{
                    background-image: none;
                    border: none;
                    margin-bottom: 0;
                }
               .col{
                  width: 10%;
                  &:nth-child(3), &:nth-child(2){
                      width: 15%;
                  }
                  &:nth-child(4){
                      width: 12%;
                  }
                  &:last-child{
                    width: 15%;
                  }
                 .table-btn{
                     font-size: 13px;
                     font-weight: bold;
                     color: $font-first-color;
                     width: 100%;
                 }
                 &-title{
                     font-size: 20px;
                     font-weight: 400;
                 }
                 .highlight{
                     font-weight: 400;
                 }
               }
           }
          }
       }

    }



}



.tariffs{
    padding: 110px 0;
    position: relative;
    &::after{
        width: 248px;
        height: 140px;
        content: '';
        position: absolute;
        background-image: url('../images/figure.svg');
        top: -44px;
        right: 73px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &::before{
        width: 216px;
        height: 258px;
        content: '';
        position: absolute;
        background-image: url('../images/donts-line.svg');
        top: 0px;
        right: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title{
        max-width: 660px;
        margin-bottom: 60px;
    }
    &__subtitle{
        font-size: 25px;
        color: $font-third-color;
        margin-bottom: 30px;
        font-weight: 300;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        background: #F3F3F3;
        border-radius: 2px;
        padding: 35px;
        &-list{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                margin-bottom: 13px;
                color: $font-third-color;
                position: relative;
                margin-left: 60px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-image: url('../images/plus.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -20px;
                }
            }
        }
        &-title{
            font-size: 28px;
            font-weight: 700;
            color: $font-third-color;
            margin-bottom: 15px;
        }
        &-info{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;
        }
        &-price{
            font-size: 24px;
            font-weight: 700;
            color: $font-second-color;
       
        }
        &-percent{
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
            border-radius: 2px;
            background-color: #EFA854;
            color: $font-first-color;
            padding: 5px 12px;
            font-size: 14px;
            font-weight: 700;
        }

        &-about{
            color: $font-third-color;
            &:hover{
                color: $font-second-color;
            }
        }

        form{
            p{
                font-size: 14px;
                line-height: 20px;
                color: $font-third-color;
                margin-bottom: 15px;
            }
            input[type="submit"]{
                background-image: linear-gradient(94.46deg, #29CF30 0%, #44FF4C 99.99%, #BAFA9B 100%);
                color: $font-first-color;
                font-weight: 600;
            }
            select{
                background: #FFFFFF;
                border-radius: 2px;
                padding: 10px 15px;
                margin-bottom: 30px;
                color: $font-second-color;
                font-size: 14px;
                font-weight: bold;
                border: none;
                width: 178px;
                outline: none;
                cursor: pointer;
                appearance: none;
                background-image: url("../images/arrow.svg");
                background-position: 160px;
                background-repeat: no-repeat;
                transition: background 0.2s linear;
                &:hover{
                    background-color: #fafafa;
                }
            }
        }
    }
}